@{
    ViewBag.Title = "Index";
}


  
			<div data-role="fieldcontain">
	         <label for="password">Password:</label>
	         <input type="password" name="password" id="password" value="" />
			</div>
			
			<div data-role="fieldcontain">
	         <label for="number">Number:</label>
	         <input type="number" name="number" id="number" value="" />
			</div>
			
			<div data-role="fieldcontain">
	         <label for="number-pattern">Number + pattern:</label>
	         <input type="number" name="number" pattern="[0-9]*" id="number-pattern" value="" placeholder="Pattern attribute [0-9]* for a numeric keypad" />
			</div>
			
			<div data-role="fieldcontain">
	         <label for="email">Email:</label>
	         <input type="email" name="email" id="email" value="" />
			</div>
			
			<div data-role="fieldcontain">
	         <label for="url">Url:</label>
	         <input type="url" name="url" id="url" value="" />
			</div>
			
			<div data-role="fieldcontain">
	         <label for="tel">Tel:</label>
	         <input type="tel" name="tel" id="tel" value="" />
			</div>
			
			<div data-role="fieldcontain">
	         <label for="time">Time:</label>
	         <input type="time" name="time" id="time" value="" />
			</div>
			
			<div data-role="fieldcontain">
	         <label for="date">Date:</label>
	         <input type="date" name="date" id="date" value="" />
			</div>
			
			<div data-role="fieldcontain">
	         <label for="month">Month:</label>
	         <input type="month" name="month" id="month" value="" />
			</div>
			
			<div data-role="fieldcontain">
	         <label for="week">Week:</label>
	         <input type="week" name="week" id="week" value="" />
			</div>
			
			<div data-role="fieldcontain">
	         <label for="datetime">Datetime:</label>
	         <input type="datetime" name="datetime" id="datetime" value="" />
			</div>
			
			<div data-role="fieldcontain">
	         <label for="datetime-l">Datetime local:</label>
	         <input type="datetime-local" name="datetime-l" id="datetime-l" value="" />
			</div>
			
			<div data-role="fieldcontain">
	         <label for="color">Color:</label>
	         <input type="color" name="color" id="color" value="" />
			</div>
			              
                          
                              
			<div data-role="fieldcontain">
            <ul data-role="listview" data-inset="true" data-filter="true">
                <li><a href="#">Acura</a></li>
                <li><a href="#">Audi</a></li>
                <li><a href="#">BMW</a></li>
                <li><a href="#">Cadillac</a></li>
                <li><a href="#">Ferrari</a></li>
            </ul>       
			</div>                         
            <div data-role="fieldcontain">             
            <a href="#" data-role="button" data-icon="star">Star button</a>   
			</div>
			<div data-role="fieldcontain">
            <form>
               <label for="slider-0">Input slider:</label>
               <input type="range" name="slider" id="slider-0" value="25" min="0" max="100"  />
            </form>    
			</div>
            


    
           
<a href="@Url.Content("~/CheckList/Form2")"   data-role="button" >next</a> 
<a href="#" data-rel="back" data-role="button">back</a>  

      
      




