<div data-role="page"  data-theme="e">
     <div data-role="content" >
         <p>this is the about page you visitied here  @ViewBag.HitCount  times</p>
         <a href="#" data-rel="back" data-role="button">back</a>   
    </div>         
</div>